body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
.notif-container {
    width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notif-container h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.notif-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notif-item.unread {
    background: #f5f5f5;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.notif-content {
    flex: 1;
}

.notif-content p {
    margin: 0;
}

.notif-time {
    font-size: 12px;
    color: #777;
}

.notif-post-img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 5px;
}
.notif-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 10px;
}
